.tiles{
    display:grid;
    place-items: center;
    width: 100px;
    height: 100px;
    
    
}
.dark_tile{
    background-color: rgb(125, 85, 50);
}
.light_tile{
    background-color: rgb(231, 228, 220);
}

.tiles img{
    width:70px
}