#chessboard{
    /* background-color: rgb(224, 201, 156); */
    height:800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
}
